@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.border-bottom-dashed-short {
    border-bottom: 1px dashed transparent; /* Base style for dashes */
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-image: repeating-linear-gradient(
      to right,
      rgba(98, 195, 198, 0.3) 0%,
      rgba(98, 195, 198, 0.3) 6px, /* Dash length (4px) */
      transparent 4px,
      transparent 11px /* Dash + gap length (approx 6.1px) */
    ) 1;
  }
  